@model IEnumerable<QTallPizzaria.Models.Foto>

@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h2 class="text-center py-4 font-weight-bold">Galeria de Fotos</h2>

<div class="container">
    <hr class="mb-5" />
    @{int i = 0;}
    @foreach (var item in Model)
    {
        if (i % 2 == 0)
        {
            @:<div class="row">
            }
            <div class="col-6">
                <div class="card bg-light">
                    <img width="100%" src="@item.img" />
                    <p class="m-4">@item.descricao</p>
                </div>
            </div>
            if (i % 2 != 0)
            {
            @:</div>
        }
        i++;
    }
    @if (Model.Count() % 2 != 0)
    {
    @:</div>
}
    </div>