
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/Home.cshtml";
}
<div class="container bg-light my-4 card">
    <h2 class="text-center font-weight-bold py-4">Sobre</h2>
    <hr />

    <div class="row p-4">
        <div class="col-md">
            <h2 class="text-center">Quem Somos</h2>
            <h4 class="text-justify font-weight-normal pb-3">
                Localizada em Barra Bonita, a Pizzaria Q-tall, vem a cada dia conquistando mais clientes devido a sua qualidade de atendimento com ponto forte na agilidade de conclusão do pedido, sabor e dedicação dos serviços prestados, ambiente perfeito para prestigiar eventos com música ao vivo na realização de confraternizações e aniversários. Além de contarmos com um cardápio completo de pizzas, lanches, pratos e saladas. Possuímos uma fantástica área aberta para trazer comodidade para você e sua família. Faça-nos uma agradável visita e saboreie nossos deliciosos pratos!!!<br /><br />
                <strong>Horário de Funcionamento: Segunda a sábado das 7h à 0h.</strong>
            </h4>
        </div>
        <div class="col-md">
            <img width="100%" height="540px" style="object-fit:cover" src="~/img/Home/banners/index.jpg" />
        </div>
    </div>
</div>
