
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h2 class="text-center py-4 font-weight-bold">Galeria</h2>

<div class="row">
    <div class="col">
        <img src=""
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>
