
@{
    ViewBag.Title = "Sobre";
    ViewBag.HeaderBackground = "../../img/Home/banners/sobre.png";
    Layout = "~/Views/Home/Layout.cshtml";
}
<div class="container bg-light my-4 card">
    <h2 class="text-center font-weight-bold py-4">Sobre</h2>
    <hr />

    <div class="row p-4">
        <div class="col-md">
            <h2 class="text-center">Quem Somos</h2>
            <h4 class="font-weight-normal pb-3">
                Localizada em Barra Bonita, a Pizzaria Qtal, vem a cada dia conqustando mais clientes devido sua qualidade e dedicação dos serviços prestados. Contamos com um completo cardádio de pizzas, Lanches, Pratos e saladas. Possuimos area aberta e fechada, atedemos de Segunda a Sábado.
                Venha nos fazer uma Vista e comer uma deliciosa Pizza!!!
            </h4>
        </div>
        <div class="col-md">
            <img width="100%" height="540px" style="object-fit:cover" src="~/img/Home/banners/index.jpg" />
        </div>
    </div>
</div>
